@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font Style */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* display flex */
.display-flex{
    display: flex;
}
/* Colors */
.dark-01{
    color: #131313;
}
.dark-02{
    color:#424242;
}
.nav-list{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
}